<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Foo news</h1>
    </header>
    <main>
        <article>
            <h1><%= foo.title %></h1>
            <p> Published on: <%= foo.published %></p>
            <p> Author: <%= foo.author %></p>
            <p><%= foo.content %></p>
        </article>
    </main>
</body>
</html>
